.help_main{
	width:990px;
	margin:0 auto;
}

.hcont .help_menu{
	float: left;
	width: 230px;
}

.hcont .hleft{
	padding:3px;
	border:1px solid #DCDCDC;
	width: 222px;
	background: #fff;
}
.hm_about{
	padding:3px 3px 0;
	border:1px solid #DCDCDC;
	width: 222px;
	background:#fff;
	margin-top:10px;
}

.hcont .hleft b,.hm_about li{
	display: block;
	height: 36px;
	padding:0 18px;
	color: #626262;
	background: #F0F0F0;
	font:bold 14px/36px simsun;
}
.hcont .hleft b a{
	display: block;
	color: #616161;
}
.hcont .hleft b.arr{
	margin-top:3px;
	cursor: pointer;
}
.hcont .hleft em.self{
	margin-top:3px;
	display: block;
	height: 36px;
	padding:0 18px;
	color: #626262;
	background: #F0F0F0;
	font:bold 14px/36px simsun;
}
.hcont .hleft em.self a{
	color:#626262;
}
.hcont .hleft em.self i{
	width: 6px;
	height: 7px;
	float: right;
	overflow: hidden;
	margin-top: 17px;
	background-position: 0 -12px;
	display: none;
}
.hcont .hleft em.cur i{
	display: block;
}
.hcont .hleft em.cur a{
	color:#D71A3A;
	display: block;
}
.hcont .hleft b.arr i{
	width: 11px;
	height: 6px;
	float: right;
	overflow: hidden;
	background-position:0 -6px;
	margin-top:15px;
}
.hcont .hleft b.cur i{
	background-position:0 0;
}
.hcont .hleft ul{
	margin-bottom: -3px;
	overflow: hidden;
	display: none;
}
.hcont .hleft li{
	height: 37px;
	font:14px/37px simsun;
	border-bottom: 1px solid #F0F0F0;
	padding-left: 35px;
	padding-right: 18px;
}
.hcont .hleft li a{
	color:#626262;
}
.hcont .hleft li a:hover,
.hcont .hleft li.cur a{
	color:#D51838;
}
.hcont .hleft li i,
.hcont .hm_about li i{
	width: 6px;
	height: 7px;
	float: right;
	overflow: hidden;
	margin-top:17px;
	background-position: 0 -12px;
	display: none;
}

.hcont .hm_about li a{
	color:#626262;
}
.hcont .hm_about li i{
	margin-top:15px;
}
.hcont .hleft li.cur i{
	display: block;
}
.hcont .hm_about li{
	margin-bottom:3px;
}
.hcont .hm_about li.cur i{
	display: block;
}
.hcont .hm_about li.cur a{
	color:#D71A3A;
}
.hcont .hright{
	float: right;
	width: 718px;
	border:1px solid #DDDDDD;
	padding:15px;
	background: #fff;
	min-height: 600px;
	_height:600px;
}
.hcont .hright h2{
	height: 16px;
	font:bold 14px/16px simsun;
	border-left:3px solid #D61935;
	padding-left: 5px;
	color: #626262;
}
.hcont .hright .contact{
	border-bottom: 1px solid #ddd;
	padding-bottom:15px;
	margin: 8px 0 21px;
	color: #626262;
	line-height: 30px;
	padding-left: 10px;
}
.hcont .hright .cont{
	padding-top:15px;
}
.hcont .hright .about h1{
	font:700 20px/35px arial;
	text-align: center;
	margin: 20px 0;
}
.hcont .hright .about p{
	font:14px/32px simsun;
	color: #626262;
	text-indent: 2em;
	margin-bottom: 10px;
}
.hcont .hright .about a{
	color: #146AC9;
}
.hcont .hright .cont p{
	font:12px/26px simsun;
	text-indent: 2em;
	color: #636363;
}
.hcont .hright .cont a{
	color:#146AC9;
}
.hcont .hright .cont p.top{
	margin-top:16px;
}
.hcont .hright .cont p.txtindent_l18r10 {
	padding:0 18px 0 10px;
}
.hcont .hright .cont p b{
	font-weight: 700;
	font-size: 14px;
}
.hcont .hright .tab{
	height: 35px;
}
.hcont .hright .tab a{
	width: 90px;
	height: 27px;
	float: left;
	text-align: center;
	font:bold 14px/27px simsun;
	color: #626262;
	background: #E3E3E3;
	margin-right: 5px;
	border-radius: 3px;
	cursor: pointer;
}
.hcont .hright .tab a.cur{
	color: #fff;
	background: #D61939;
}

.h_index{
	float: right;
	width: 750px
}
.h_index .h_nav{
	border:1px solid #DDDDDD;
	padding:15px;
	margin-bottom: 10px;
	background: #fff;
}
.h_index h2{
	height: 16px;
	font: bold 14px/16px simsun;
	border-left:3px solid #D5193C;
	padding-left:5px;
	color: #616161;
}
.h_index .h_nav .step{
	height: 60px;
	line-height: 52px;
	font-size:14px;
	color:#616161;
	margin-top: 20px;
	padding-left:10px;
}
.h_index .h_nav .i_help{
	display: inline-block;
	width: 52px;
	height: 52px;
	vertical-align: middle;
	margin: 0 10px;
}
.h_index .h_nav .s1{
	background-position: 0 -20px
}
.h_index .h_nav .s2{
	background-position: 0 -75px
}
.h_index .h_nav .s3{
	background-position: 0 -130px
}
.h_index .h_nav .s4{
	background-position: 0 -185px
}
.h_index .h_nav .next{
	width: 24px;
	height: 35px;
	background-position: 0 -240px;
}
.h_index .h_nav .czintro{
	margin-top:30px;
	padding-left:15px;
}
.h_index .h_nav .czintro li{
	float:left;
	margin-left:10px;
	margin-bottom: 10px;
	padding-top:10px;
	padding-left: 10px;
	width: 210px;
	height: 92px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	position: relative;
	_display:inline;
}
.h_index .h_nav .czintro li.br0{border-right:none;}
.h_index .h_nav .czintro li.bb0{border-bottom:none}
.h_index .h_nav .czintro li.pt0{padding-top:0;}
.h_index .h_nav .czintro li i.logos{
	width: 75px;
	height: 75px;
	float:left;
	overflow: hidden;
}
.h_index .h_nav .czintro li i.dlt{
	background-position: 0 -75px;
}
.h_index .h_nav .czintro li i.qlc{
	background-position: 0 -150px;
}
.h_index .h_nav .czintro li i.qxc{
	background-position: 0 -225px;
}
.h_index .h_nav .czintro li i.k3{
	background-position: 0 -300px;
}
.h_index .h_nav .czintro li i.f14{
	background-position: 0 -375px;
}
.h_index .h_nav .czintro li i.f9{
	background-position: 0 -450px;
}

.h_index .h_nav .czintro li a{
	float: left;
	line-height: 23px;
	margin-left:10px;
	_display:inline;
}
.h_index .h_nav .czintro li a b{
	font-size:14px;
}
.h_index .h_nav .czintro li em{
	display: block;
	width: 19px;
	height: 19px;
	background:#fff;
	position: absolute;
	right:-9px;
	bottom: -9px;
	z-index: 99;
}
.h_index .h_nav .czintro li a:hover{
	color: #D51A39;
}
.func_guide{
	margin-top: 20px;
}
.func_guide li{
	float: left;
	width: 160px;
	height: 105px;
	padding-left: 15px;
	color: #616161;
	border-right: 1px solid #ddd;
	line-height: 25px;
}
.func_guide li b{
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
}
.func_guide li a{
	color: #0971A6
}
.hot_ques{
	margin-top:10px;
	position: relative;
	padding-left:10px;
}
.hot_ques li{
	float: left;
	width: 320px;
	height: 140px;
	padding-left: 20px;
	padding-top:10px;
	line-height: 25px;
}
.hot_ques em{
	display: block;
	width: 19px;
	height: 19px;
	background: #fff;
	position: absolute;
	top: 141px;
	left:341px;
}
.hot_ques li.br1{
	border-right: 1px solid #ddd;
}
.hot_ques li.bt1{
	border-top: 1px solid #ddd;
}
.hot_ques li b{
	display: block;
	font-size:14px;
	color: #626262;
	margin-bottom: 5px;
}
.hot_ques li a{
	color: #0971A4;
	line-height: 25px;
}
.hot_ques li a i{
	float:left;
	margin-top:12px;
	margin-right: 6px;
	width: 3px;
	height: 3px;
	background: #0971A4;
	overflow: hidden;
	_display:inline;
}
.anchor_nor {
	background:url(../img/sus_nor.png) no-repeat 0 0 transparent;
}
.anchor_in {
	background:url(../img/sus_hover.png) no-repeat 0 0 transparent;
}
#gotop {
width:40px;height:40px;position:fixed;bottom:30px;left:50%;margin-left:505px;display:none;
_position: absolute;
_top: expression(600+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
_right: expression(505+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
}